# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
build/
release/

# Environment files
.env
.env.local
.env.*.local

# IDE / Editor
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs/

# OS files
Thumbs.db
.DS_Store
*.pem

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn
yarn-debug.log*
yarn-error.log*

# Vite
.cache/
